@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
	margin: 0;
}
html {
	background-color: rgba(123, 254, 228, 0.269);
	// background-image: url(https://oir.mobi/uploads/posts/2021-01/1611959043_34-p-krasivii-fon-dlya-teksta-goluboi-35.jpg );
}
